body {
  color:beige;
  background:url("images/the-witcher-hanged.jpg") ;
    padding-top: 10px;
    background-repeat: no-repeat;
    height: 1000px;
    background-position:top;
    background-size: 100% 100%;
}
.game-container {
  text-align: center;
}
.hangman {
  width: 180px;
  height: 10px;
  margin-bottom: 10px;
}
.word-container {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
.alphabet-btn {
  font-size: 20px;
  margin: 5px;
  color: beige;
}
.alphabet-btn:disabled {
  background-color:brown;
}
.mt-4{
  font-size: larger;
  font-weight: 20px bold;
}